@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Montserrat:wght@400&display=swap');

:root {
  --teal: #11a77e;
  --light-teal: #08c9c9;
  --light-teal-tr: #08c9c995;
  --salmon: #eb8150;
}

* {
  font-family: 'Roboto', sans-serif;
  transition: all 0.35s;
}

body {
  font-size: 16px;
  background-color: #ddd;
}

.App {
  background-color: #fff;
  width: 50vw;
  margin: 30px auto;
  padding: 30px;
  box-shadow: 0px 0px 5px #5555;
}

@media screen and (max-width: 1440px) {
  .App {
    width: 80vw;
  }
}

h1,
h2,
h3,
h4, h5 {
  font-weight: 400;
  color: var(--salmon);
}

h3 {
  margin: 0;
  margin-bottom: 5px;
  margin-top: 15px;
}

div {
  margin-top: 10px;
  border-radius: 3px;
}

select {
  border: 0;
  width: 100%;
  outline: 0;
  box-shadow: 0px 1px 0px 0px var(--teal);
  padding: 10px;
  border-radius: 0;
  transition: all 0.3s;
}

option {
  padding: 20px;
}

input {
  width: 100%;
  border: 0;
  outline: 0;
  box-shadow: 0px 1px 0px 0px var(--teal);
  padding: 10px;
  border-radius: 0;
  box-sizing: border-box;
}

input:focus, select:focus {
  background-color: #05a5b110;
}

button {
  background-color: var(--teal);
  color: #fff;
  border: 0;
  padding: 20px 40px;
  font-size: 1.1rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--light-teal);
  /* transform: translate(-2px, -2px); */
  box-shadow: 2px 2px 3px #5555;
}

button:active {
  transition: all 0.15s;
  transform: scale(1.1);
  background-color: var(--light-teal-tr);
  box-shadow: 0px 0px 10px #5555;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box {
  background-color: #fff;
  border: 1px solid #1111;
  width: 45%;
  padding: 20px;
  box-shadow: 1px 1px 3px #5555;
}

@media screen and (max-width: 992px) {
  .row {
    flex-direction: column;
    justify-content: flex-end;
  }

  .box {
    width: 100%;
    box-sizing: border-box;
  }
}

.box > div {
  display: flex;
}

.row h3 {
  width: 25%;
}

.row input {
  width: 75%;
}
