@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Montserrat:wght@400&display=swap');

:root {
  --teal: #11a77e;
  --light-teal: #08c9c9;
  --light-teal-tr: #08c9c995;
  --salmon: #eb8150;
  --salmon-2: #ec9c77;
  --faded-salmon: #e9c0ad;
  --dark-grey: #686868;
  --shadow: #1115;
  --shadow-dark: #111a;
}

* {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 14px;
  background-image: url(./assets/images/17545.jpg);
  backdrop-filter: hue-rotate(-50deg);
  background-size: cover;
  color: var(--dark-grey);
  padding: 30px;
}

footer {
  font-size: 0.7rem;
  text-align: right;
}

.App {
  background-color: #fff;
  width: 60vw;
  margin: 10px auto;
  padding: 30px 60px;
  /* box-shadow: 0px 0px 5px var(--shadow); */
  /* box-shadow: 0px 0px 120px 55px #fff; */
}

@media screen and (max-width: 1440px) {
  .App {
    width: 80vw;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 400;
  color: var(--salmon);
}

h3 {
  margin: 0;
  margin-bottom: 5px;
  margin-top: 15px;
  color: var(--salmon-2);
}

div {
  border-radius: 3px;
}

select {
  border: 0;
  width: 100%;
  outline: 0;
  box-shadow: 0px 1px 0px 0px var(--light-teal-tr);
  padding: 10px;
  padding-left: 0px;
  border-radius: 0;
  transition: all 0.3s;
}

option {
  padding: 20px;
}

input {
  width: 100%;
  border: 0;
  outline: 0;
  box-shadow: 0px 1px 0px 0px var(--light-teal-tr);
  padding: 10px;
  padding-left: 0px;
  border-radius: 0;
  box-sizing: border-box;
}

input:focus,
select:focus {
  background-color: #05a5b110;
}

button {
  /* background-color: var(--teal); */
  background: linear-gradient(145deg, var(--teal), teal);
  color: #fff;
  border: 0;
  padding: 20px 40px;
  font-size: 1.1rem;
  cursor: pointer;
}

button:hover {
  background: linear-gradient(145deg, var(--light-teal), teal);
  box-shadow: 2px 2px 3px var(--shadow);
  transform: scale(1.03);
}

button:active {
  transition: all 0.15s;
  transform: scale(1.1);
  background-color: var(--light-teal-tr);
  box-shadow: 0px 0px 10px var(--shadow);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.box {
  background-color: #fff;
  border: 1px solid #1111;
  width: 45%;
  padding: 20px;
  box-shadow: 1px 1px 3px var(--shadow);
}

@media screen and (max-width: 992px) {
  .row {
    flex-direction: column;
    justify-content: flex-end;
  }

  .box {
    width: 100%;
    box-sizing: border-box;
  }
}

.box > div {
  display: flex;
  position: relative;
}

.row h3 {
  width: 25%;
}

.row input {
  width: 75%;
}

.know-you-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.know-you-box > .box {
  width: 27%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.separator {
  margin: 25px 0px;
  height: 1px;
  /* background-color: var(--teal); */
  border-top: 1px dotted var(--teal);
}

.unit-display {
  position: absolute;
  right: 3px;
  top: 8px;
}

.wrapped-around {
  margin-bottom: 0;
  background: linear-gradient(90deg, var(--salmon), #fff);
  background: linear-gradient(90deg, var(--salmon), var(--faded-salmon));
  /* border-bottom: 1px solid #685136;   */
  color: #fff;
  font-size: 1.2rem;
  padding: 20px;
  padding-left: 40px;
  position: relative;
  left: calc(-60px - 30px);
  width: calc(100% + 120px + 30px);
  box-sizing: border-box;
  margin-bottom: 50px;
  box-shadow: 0px 10px 10px -10px var(--shadow-dark);
  transform-style: preserve-3d;
}

.wrapped-around::before {
  content: '';
  display: block;
  border-left: none;
  position: absolute;
  left: 0;
  bottom: -30px;
  width: 0;
  height: 0;
  border-top: 15px solid #685136;
  border-right: 15px solid #685136;
  border-bottom: 15px solid #0000;
  border-left: 15px solid #0000;
  transform: translateZ(-3px);
}
